.page-section.container .row {
    justify-content: center;
}

.col-sm-12.col-md-12.col-lg-12.text-center {
    width: 344px;
    height: 113px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.col-sm-12.col-md-12.col-lg-12.text-center:hover {
    width: 354px;
    height: 123px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f5f5f5;
}

section#opinion {
    gap: 16px;
    display: grid;
}

.row.opinion1Section {
    height: 123px;
}

.col-sm-12.col-md-6.col-lg-6.text-center {
    width: 642px;
    height: 284px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.col-sm-12.col-md-6.col-lg-6.text-center:hover {
    width: 652px;
    height: 294px;
    background-color: #f5f5f5;
    padding-top: 12px;
    padding-bottom: 12px;
}

.row.opinion2Section {
    justify-content: space-between !important;
}

.row.opinion2Section {
    height: 300px;
}

.row.mt-2.opinion3Section {
    height: 300px;
}